@model Pmtct.Models.PmtctCareCascade

@{
    ViewData["Title"] = "Rekebisha taarifa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-info">Rekebisha Taarifa</h1>

@*<h4>PmtctFollowUp</h4>*@
<a asp-action="Index">Rudi kwenye Taarifa</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="SN" class="control-label"></label>
                <input asp-for="SN" class="form-control" />
                <span asp-validation-for="SN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceName" class="control-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ResponseName" /> @Html.DisplayNameFor(model => model.ResponseName)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label"></label>
                <input asp-for="ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemarksName" class="control-label"></label>
                <input asp-for="RemarksName" class="form-control" />
                <span asp-validation-for="RemarksName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NambaMshiriki01" class="control-label"></label>
                <input asp-for="NambaMshiriki01" class="form-control" />
                <span asp-validation-for="NambaMshiriki01" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tunza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Rudi kwenye Taarifa</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
