@{
    ViewData["Title"] = "Home Page";
}

   



<div class="text-left">
    <h1 class="display-4">Karibu,</h1>
    <h2 class="alert-info">Dodoso juu ya utafiti "Kubaki katika huduma za kuzuia maambukizi ya VVU kutoka kwa mama kwenda kwa mtoto na sababu zake, Zanzibar".</h2>
</div>

<nav class=" nav nav-fill">
            <a class="nav-link active " asp-action="Create" asp-controller="Pmtct">TAARIFA ZA KITUO NA MAHOJIANO</a>
            <a class="nav-link" asp-action="Create" asp-controller="PmtctUp">TAARIFA ZA AFYA NA UPIMAJI</a>
            <a class="nav-link" asp-action="Create" asp-controller="PmtctCare">PMTCT CARE CASCADE</a>


    </nav>







